.latest-by-category
  text-align center
  &:after
    content ' '
    clear both
    display table
  dt, dd
    margin 1em 0 1em 0
  p
    text-align left

.category-definition
  display block
  font-size 0.85em
  padding-bottom 0.5em
  margin-bottom 1.5em
  border-bottom 1px solid $light-gray
  h5
    margin 0.25em
    text-align center
  p
    margin 0.3em
    color $black
    text-align center
